ExamenClient/ExamenClient/Connected Services/ServiceReferenceEval/EvaluationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EvaluationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ExamenCshapService/EvaluationService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ExamenCshapService/EvaluationService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ExamenCshapService/EvaluationService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExamenCshapService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEvaluationService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IEvaluationService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluationService_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="IEvaluationService_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluationService_Modify_InputMessage">
    <wsdl:part name="parameters" element="tns:Modify" />
  </wsdl:message>
  <wsdl:message name="IEvaluationService_Modify_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluationService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IEvaluationService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluationService_ListCritere_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCritere" />
  </wsdl:message>
  <wsdl:message name="IEvaluationService_ListCritere_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCritereResponse" />
  </wsdl:message>
  <wsdl:portType name="IEvaluationService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluationService/Add" message="tns:IEvaluationService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluationService/AddResponse" message="tns:IEvaluationService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluationService/Find" message="tns:IEvaluationService_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluationService/FindResponse" message="tns:IEvaluationService_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluationService/Modify" message="tns:IEvaluationService_Modify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluationService/ModifyResponse" message="tns:IEvaluationService_Modify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluationService/Delete" message="tns:IEvaluationService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluationService/DeleteResponse" message="tns:IEvaluationService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCritere">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluationService/ListCritere" message="tns:IEvaluationService_ListCritere_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluationService/ListCritereResponse" message="tns:IEvaluationService_ListCritere_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEvaluationService" type="tns:IEvaluationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IEvaluationService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/IEvaluationService/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap:operation soapAction="http://tempuri.org/IEvaluationService/Modify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IEvaluationService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCritere">
      <soap:operation soapAction="http://tempuri.org/IEvaluationService/ListCritere" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EvaluationService">
    <wsdl:port name="BasicHttpBinding_IEvaluationService" binding="tns:BasicHttpBinding_IEvaluationService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ExamenCshapService/EvaluationService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>