ExamenClient/ExamenClient/Connected Services/ServiceReferenceEval/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExamenCshapService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExamenCshapService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CritereEvaluation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Indicateurs" nillable="true" type="tns:ArrayOfIndicateur" />
      <xs:element minOccurs="0" name="Libelle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CritereEvaluation" nillable="true" type="tns:CritereEvaluation" />
  <xs:complexType name="ArrayOfIndicateur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Indicateur" nillable="true" type="tns:Indicateur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndicateur" nillable="true" type="tns:ArrayOfIndicateur" />
  <xs:complexType name="Indicateur">
    <xs:sequence>
      <xs:element minOccurs="0" name="Evaluations" nillable="true" type="tns:ArrayOfCritereEvaluation" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Libelle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Indicateur" nillable="true" type="tns:Indicateur" />
  <xs:complexType name="ArrayOfCritereEvaluation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CritereEvaluation" nillable="true" type="tns:CritereEvaluation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCritereEvaluation" nillable="true" type="tns:ArrayOfCritereEvaluation" />
</xs:schema>